<!DOCTYPE html>
<html>
<head>
	<title>ChatPDF</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<div class="container">
		<h1>ChatPDF</h1>
		<div class="chat-window">
			<div class="chat-output" id="chat-output"></div>
			<input type="text" placeholder="Type your message here" id="user-input">
			<button id="send-btn">Send</button>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="static/script.js"></script>
</body>
</html>
